:host {
	display: flex;
	gap: 10px; 
	
	> .hot {
		width: 100px;
		height: 50px;
		background-color: #336699;
		border-radius: 5px;
		border: 1px solid #4488bb;
		
		&:hover {
			background-color: lightblue;
		}
	}
}

.overlay { 
	margin: 5px;
	padding: 10px;
	background-color: whitesmoke;
	opacity: 0.9;
	border: 1px solid #555555;
	border-radius: 5px;
}