$primary: red;
$padding: 5px;

:host {

    div {
        display: inline-flex;
        border: 1px solid #777777;
        padding: $padding;
        background-color: white;
        box-shadow: 2px 2px 2px #777777;

        ::ng-deep button {
            border: 0;
            background-color: inherit;
            color: inherit;
        }

        &.primary {
            background-color: $primary;
            border-color: $primary;
            color: white;
            box-shadow: 2px 2px 2px $primary;
        }

        &.disabled {
            text-decoration: line-through;
            color: #777777;
        }
    }
}

// global style so it's available in the overlay
::ng-deep .split-button-overlay-panel {
    display: flex;
    flex-direction: column;
    padding: $padding;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 2px #777777;

    align-items: stretch;

    div {
        button {
            border: 0;
            width: 100%;
            background-color: white;
            text-align: left;
            color: inherit;
        }
    }

    &.primary {
        color: $primary;
        border-color: $primary;
        box-shadow: 2px 2px 2px $primary;

        button:hover {
            // border-color: $primary;
            // border-left:2px solid $primary;
            text-decoration: underline;
        }
    }
}