:host {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  > button {
    border: 1px solid darkgray;
    border-radius: 5px;
    font-weight: bold;
    background-color: whitesmoke;
    padding: 5px;

    &:hover {
      border: 2px solid lightgray;
      background-color: white;
    }
  }
}