:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  > nav {
    margin-bottom: 20px;
    background-color: #555555;
    padding: 20px;
    display: flex;
    gap: 10px;

    > a {
      color: white;
    };
  }
}
