<h1>Party</h1>
<div [formGroup]="party">
    <div formGroupName="address">
        <h3>Address</h3>
        <label>
            Street
            <input type="text" formControlName="street">
        </label>
        <label>
            Number
            <input type="number" formControlName="number">
        </label>
    </div>

    <h3>Attencance Information</h3>
    <div>
        <label>
            Formal Attire?
            <input type="checkbox" formControlName="formal">
        </label>
    </div>
    <h3>Food Options</h3>
    <div formArrayName="foodOptions">
        <div *ngFor="let item of party.controls.foodOptions.controls; let i=index">
            <input type="text" [formControlName]="i">
        </div>
        <button (click)="addMenuItem()">Add Another Menu Item</button>
    </div>

    <button (click)="partyInSF()">Party in SF!</button>
    <button (click)="houseOne()">House ONE</button>
</div>


{{party.value | json}}