:host {     
    display: flex;
    flex-direction: column;
    align-items: center;
   
    h1 {
        padding-bottom: 25px;
    }

    > div {
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding-top: 15px;
        background-color: whitesmoke;

        h3, div {
            padding-bottom: 15px;
        }
    }
}